/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body{
    background-color: hsl(30, 38%, 92%);
}
main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content:center ;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
  height: 500px;
}
.right{
  width:auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*img of the product*/
.img{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0px 15px 0px 0px;
  max-width: 349px;
  overflow: hidden;
}

/*Perfume*/
h2{
font-family: 'Montserrat';
font-weight: 500;
font-size: 1rem;
letter-spacing: 0.19rem;
color: hsl(228, 12%, 48%);
padding: 10px 15px 10px 15px;
}

/*Gabrielle Essence Eau De Parfum*/
.img-name{
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 2rem;
  color: hsl(212, 21%, 14%);
  padding: 0px 130px 15px 10px;
} 

/*A floral,solar and voluptuous interpretation compsed by Olivier Polge,Perfumer-Creator for the House of CHANEL*/
.img-description {
  font-weight: 500;
  font-size: 1rem;
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat';
  padding: 5px 80px 5px 20px;
}

/*button*/
button{
  background-color: hsl(158, 36%, 37%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(158, 36%, 37%);
  width: 90%;
  margin-top: 25px;
}

span {
  font-size:1.3 rem;
  font-weight: 700;
  font-family: 'Montserrat';
  color: hsl(0, 0%, 100%);
  padding: 11px 5px 11px 10px;

}

button:hover{
  background-color: hsl(158, 42%, 26%);
}

.new-price{
  font-size: xx-large;
  color: hsl(158, 36%, 37%);
  font-family:'Fraunces';
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.old-price{
  font-size: 1rem;
  color: hsl(228, 12%, 48%);
  font-family:'Fraunces';
  font-weight: 700;
  padding-left: 10px;
}

/*medias queries mobiles*/
@media screen and (max-width=400px) {
  .card{
    display:grid;
    grid-template-columns: auto;

  }
} 
